{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon : Articles
{% endblock meta_title %}
{% block content %}



<h1 id="h1_articles">Articles list</h1>


<section class="allArticle">

    {% for pokemon in pokemons %}

        {% if pokemon.isPublished == true %}

        <article class="myArticle">
            <h2>{{ pokemon.title }}</h2>
            <a href="{{ path('show_pokemon',{id:pokemon.id}) }}">Voir l'article</a><br>



        </article>
    {% endif %}
    {% endfor %}
</section>

{% endblock %}
