{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon : Categorie
{% endblock meta_title %}
{% block content %}


<h3 id="h3Category"> Les catégories</h3>

<section class="allArticle">

    {% for categorie in categories %}
            <div class="myArticle">
                    <p>{{ categorie }}</p>
            </div>


    {% endfor %}

</section>

{% endblock %}
