{% extends 'base.html.twig' %}

{% block metatitle %}

    Pokemon : insert

{% endblock %}

{% block content %}

    <div class="form_insert">
        <form method="POST">
            <label>
                Title </label>
                <input type="text" name="title">

            <label>
                Description
            </label>
                <input type="text" name="description">

            <label>
                Type
            </label>
                <input type="text" name="type">

            <label>
                Image
            </label>
                <input type="text" name="image">

            <input type="submit">
        </form>
    </div>



    {% if pokemon %}
        <p>Le pokemon {{ pokemon.title }} a bien créé ! </p>
    {% endif %}
{% endblock %}