{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon : {{ pokemon.title }}
{% endblock meta_title %}
{% block content %}
    <h1>{{ pokemon.title }}</h1>
    <p>{{ pokemon.content }}</p>
{% endblock %}