{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon : Articles
{% endblock meta_title %}
{% block content %}
<p>Veuillez indiquer votre âge</p>

    <form method="GET">
        <label for=""> AGE </label>
        <input type="text" name="age">
        <input type="submit">

    </form>

{% endblock %}