{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon
{% endblock meta_title %}
{% block content %}



   <section>
       <div class="img_404">
           <img  src="https://www.prestashop.com/sites/default/files/wysiwyg/404_not_found.png" alt="">
       </div>

   </section>


{% endblock %}