{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon : Articles
{% endblock meta_title %}
{% block content %}

    <h1>{{ pokemon.title}}</h1>
    <p>{{ pokemon.content}}</p>
    <h1>{{ pokemon.img}}</h1>

{% endblock %}