{% extends 'base.html.twig' %}
{% block meta_title %}
    Pokemon
{% endblock meta_title %}
{% block content %}


        <article class="show_art">
            <h1 class="h1_pokemon">{{ pokemon.title }}</h1>
            <p>{{ pokemon.description }}</p>
            <p>{{ pokemon.type }}</p>


            <div class="img_poke">
                <img src="{{ pokemon.image }}" alt="">
            </div>


        </article>


{% endblock %}